* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  
  font-size: 16px;
  font-family: var(--sans);
  color-scheme: dark;
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #030512; /* Fundo escuro base do seu sistema */
  color: #ffffff;
  min-height: 100vh;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button, input {
  font-family: inherit;
  border: none;
  background: none;
}

button {
  cursor: pointer;
}